<div class="row">
  <div class="col-md-6 offset-md-3">
    <h1 class="text-center">新規登録</h1>
    <%= form_with model: @resume, local: true do |f| %>
    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name, :size => "30" %>
    </div>
    <div class="form-group">
      <%= f.label :age %>
      <%= f.text_field :age,:size => "5" %>歳
    </div>
    <div class="form-group">
      <%= f.label :gender %>
      <%= f.radio_button :gender, "男" %>男 <%= f.radio_button :gender, "女" %>女
    </div>
    <div class="form-group">
      <%= f.label :birthday %>
      <%= f.date_select :birthday,{start_year: 1950, end_year: 2010,use_month_numbers: true ,default: { year: 1990, month: 1, day: 1 }} %>
    </div>
    <div class="form-group">
      <%= f.label :promotion %>
      <%= f.text_area :promotion, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :marry %>
      <%= f.check_box :marry %>
    </div>
    <div class="form-group">
      <%= f.label :file %>
      <%= f.file_field :file, class: 'form-control' %>
    </div>
    <%= f.submit "登録", class: 'btn-block btn-primary' %>
    <% end %>
  </div>
</div>
